div.Platinum, div.Gold, div.Silver{
	height: 2em;
	width: 2em;
	background-color: grey;
	border: 1px solid black;
	margin: 2px;
}

div.seatDiv{
	width: 80%;
}
div.seatArray{
	width: 80%;
	float: left;
}
div.seatForm{
	width: 20%;
	float: left;
}

div.selectable{
	background-color: green!important;
}

div.selected{
	background-color: blue!important;
}

/*START: override bootsrtap styles*/

.navbar-static-top{
	z-index: 99!important;
}

.ui-widget-overlay{
	background-color: black!important;
	opacity:0.5!important;
}

.thumbnail img { 
	min-height:250px; 
	height:250px!important;
	width:350px!important; 
}

.carousel-img {
	min-height:80vh; 
	height:80vh!important;
	width:100vw!important; 	
}

div#myCarousel {
	height:70vh;
	width:80vw;
	margin-left:10vw;
	margin-right:10vw;
	margin-bottom:12vh;
}

ol.carousel-indicators {
	top:75vh!important;
}

div.carousel-caption {
	background-color: rgba(0,0,0,0.4);
}

.media-left img {
	width:120px!important;
	height:120px!important;
}

/*END: override bootsrtap styles*/

.forms{
	background-color: #f2f2f2;
	padding:10px;
	margin:5px;
}